@font-face {
  font-family: RosmatikaRegular;
  src: local('RosmatikaRegular'), 
  url('../RosmatikaRegular-BWA45.ttf') format('Truetype'); 
}

       .main {
        width: 100%;
        height: 100%;
        position: relative;
        color: #4e2a0c;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 1s ease;
        padding-top: 70px;
      }

      .main-text {
        top: 20%;
        left: auto;
        right: auto;
        position: relative;
        color: #47221C;
        text-transform: uppercase;
        font-family: RosmatikaRegular;
      }
      .btn-circle,
      #to-top {
        border-radius: 50%;
        background: #28AD79;
        padding: 6px;
        font-size: 14px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
      }
      
      .c2a-btn {
        margin: auto auto;
        border-color: #28AD79;
      }
      
      .btn-default {
        color: #28AD79;
        background-color: #28AD79;
        border-color: #28AD79;
        transition: all 1s ease;
      }
      
      .btn-group-lg > .btn,
      .btn-lg {
        padding: 12px 24px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 50px;
        border-color: #eee;
        background-color: #eee
        
      }
      
      .btn-group .btn-or {
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 99;
        box-shadow: 0;
        border: 2px solid #fff;
      }